$('.ajax_flash_messages').html("<div class='flash' id='notice'>Item added to your cart!</div>");
$('.cart_quantity').text('<%= session[:cart].size %>');
$("#item_<%= @item_id %>").css('opacity', '0.5');
