<div id="about">
	<h2 style="text-align:center">Who are we?</h2>
	<div class="about-text">
		<%= image_tag("water.jpg", :alt => "Water Sommelier", height: "200px", width: "200px", style: "float:left") %> At Caussa, we cater to you, the most pretentious elite in Boulder, CO.  Starting We are certain you will love the water hand-picked by our famous Water Sommelier, Byron Gulliver.
	</div>
	<div class="about-text">
		<%= image_tag("mushrooms.jpeg", :alt => "Fungi", height: "200px", width: "200px", style: "float:right") %>All of our fungi are foraged by the very servers who serve you, the same ones payed less than minimum wage that live on "tips."
	</div>
	<div class="about-text"><%= image_tag("ice.jpeg", :alt => "Ice", height: "200px", width: "200px", style: "float:left") %>The ice cubes in all of our drinks are hand chiseled and contain seven flakes each of 24-karat pure gold.  Why? Because we recognize that you are rich enough to drink gold that would provide for poorer families for months!
	</div>
	<div class="about-text"><%= image_tag("flatirons.jpg", :alt => "Flatirons", height: "200px", width: "200px", style: "float:right") %> We literally push any employee that you are not satisfied with off the flat-irons, just say the word, we are here to serve your borderline sociopathic behaviors.</div>
</div>
