<h2>Menu</h2>
<div id = "categories">
<ul id='category_list'>
<h3>Categories</h3>
<% @categories.each do |category| %>
<li><%= link_to category.title, category, remote: true %></li>
<% end %>
</ul>
</div>
<h3>Menu Items</h3>

<%= render 'layouts/display_table'  %>
