<h2>Menu</h2>
<h3>Categories</h3>
<ul>
<% @categories.each do |category| %>
<li><%= link_to category.title, category_path(category) %></li>
<% end %>
</ul>
<h3>Menu Items</h3>
<%= render 'layouts/display_table'  %>
