.center {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.grid-sizer { width: 20%; }

@media screen and (min-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 10%; }
}

.grid-item {
	text-align: center;
	width: 25%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid;
  border-width: 1px;
}

.nav navbar-nav navbar-right-login {
  float: right !important;
  margin: 20px;

}

.not_active {
  background-color: #eed3d7;
}

#categories ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#categories ul li {
  display: inline;
}

#categories ul li a {
  text-decoration:none;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;
}


#categories ul li a:hover {
  color: #fff;
  background-color: #369;
}

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
